<nav class="navbar navbar-dark dar">
  <a class="navbar-brand" (click)="togglePower()">
    <i class="bi-power"></i>
  </a>
</nav>

<router-outlet>
  <div class="jumbotron">
    <h1 class="display-4">Set color</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
      attention to featured content or information.</p>
    <hr class="my-4">
    <input [(colorPicker)]="color" [style.background]="color"/>



    <a class="btn btn-primary btn-lg" href="#" (click)="setColor()" role="button">apply</a>
  </div>

</router-outlet>
